.App {
  text-align: center;
}

body {
  background-image: url("https://wallpaperaccess.com/full/2498837.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

